soap/src/main/mule/soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fbfd980c-4e73-4b6f-a07a-5ee997eb6103" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="3b3a1271-41c7-44da-96eb-966788a10c0b" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<flow name="soapFlow" doc:id="e836fc55-a5f3-443b-8b70-e7c655f8154b" >
		<http:listener doc:name="Listener" doc:id="4e9f1ed2-396f-4446-9058-08d864875d1a" config-ref="HTTP_Listener_config" path="soap"/>
		<set-variable value="#[attributes.queryParams.num1]" doc:name="Set Variable" doc:id="69bd8a4d-3574-4e28-8395-79884011471b" variableName="num1"/>
		<set-variable value="#[attributes.queryParams.num2]" doc:name="Set Variable" doc:id="5f1d4720-133f-4fc1-8e80-0094cd702e99" variableName="num2"/>
		<ee:transform doc:name="Transform Message" doc:id="aaea775d-5357-4884-8aa9-a5513053091d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Divide: {
		ns0#intA: vars.num1 as Number,
		ns0#intB: vars.num2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Divide" doc:name="Consume" doc:id="558078d6-7576-4d5e-a280-6de89529efaa" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="3b912a09-021a-40a1-bb9d-083754b3008b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a10d147f-6290-4a01-a8f2-3aaed4c4d8e7" />
	</flow>
</mule>
